<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>
      Author
    </strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui ullam eius
      cumque quis asperiores dignissimos et sequi illum, voluptatem earum
      repellendus ipsam aliquam pariatur nulla? Sint qui voluptate accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui ullam eius
      cumque quis asperiores dignissimos et sequi illum, voluptatem earum
      repellendus ipsam aliquam pariatur nulla? Sint qui voluptate accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui ullam eius
      cumque quis asperiores dignissimos et sequi illum, voluptatem earum
      repellendus ipsam aliquam pariatur nulla? Sint qui voluptate accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui ullam eius
      cumque quis asperiores dignissimos et sequi illum, voluptatem earum
      repellendus ipsam aliquam pariatur nulla? Sint qui voluptate accusamus.
    </p>
  </div>
</div>
